.container {
	max-width: 960px;
	margin: 0 auto;
}

header {
	display: grid;
}

button {
	cursor: pointer;
}

.btn-cart {
	justify-self: end;
	width: 100px;
	height: 30px;
	border: none;
	background-color: rgb(210, 247, 245);
	margin-bottom: 20px;
}

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.product-item {
	padding: 20px;
	background-color: rgb(210, 247, 245);
}

.product-img {
	display: block;
}

.by-btn {
	width: 100px;
	height: 30px;
	border: none;
	background-color: rgb(173, 207, 206);
}